/%p.left-content__bottom__group__group-name test-group
/%p.left-content__bottom__group__coment test-coment
.left-content__bottom__group
  - current_user.groups.each do |group|
    = link_to group_path(group) do
      .left-content__bottom__group__group-name
        = group.name
      .left-content__bottom__group__coment
        メッセージはまだありません。