.wrapper
  .left-content
    .left-content__top
      .left-content__top__box
        %p.left-content__top__box__user-name test-name
        %ul.left-content__top__box__link-box
          %li.left-content__top__box__link-box__new-group
            %a{href: ''}
              %i.fa.fa-edit.icon__white
          %li.left-content__top__box__link-box__edit-user
            %a{href: ''}
              %i.fa.fa-cog.icon__white
    .left-content__bottom
      /↓他ファイルにする
      .left-content__bottom__group
        %p.left-content__bottom__group__group-name test-group
        %p.left-content__bottom__group__coment test-coment

  .right-content
    .right-content__top
      .right-content__top__left-box
        %p.right-content__top__left-box__group test-group
        %p.right-content__top__left-box__member Member : test
      .right-content__top__right-box
        %a{href: ''}
          .right-content__top__right-box__btn Edit
    .right-content__main
      .right-content__main__user-name test-name
      .right-content__main__day test-day
      .right-content__main__coment test-coment
    .right-content__bottom
      .right-content__bottom__send-message