.wrapper
  .left-content
    .left-content-top
      %p.user-name test-name
      %i.far.fa-edit
      %i.fas.fa-cog
    .left-content-bottom
      .group
        %p.test-group test-group
        %p.test-coment test-coment