.wrapper
  .left-content
    .left-content__top
      .left-content__top__box
        %p.left-content__top__box__user-name test-name
        %ul.left-content__top__box__link-box
          %li.left-content__top__box__link-box__new-group
            %a{href: ''}
              %i.fa.fa-edit.icon__white
          %li.left-content__top__box__link-box__edit-user
            %a{href: ''}
              %i.fa.fa-cog.icon__white
    .left-content-bottom
      /↓他ファイルにする
      .group
        %p.test-group test-group
        %p.test-coment test-coment