.wrapper
  .left-content
    .left-content-top
      %p.user-name test-name
      %ul.link-box
        %li.new-group
          %a{href: ''}
            %i.fa.fa-edit
        %li.edit-user
          %a{href: ''}
            %i.fa.fa-cog
    .left-content-bottom
      /↓他ファイルにする
      .group
        %p.test-group test-group
        %p.test-coment test-coment