.wrapper
  .left-content
    .left-content-top
      .left-content-top__box
        %p.user-name test-name
        %ul.link-box
          %li.new-group
            %a{href: ''}
              %i.fa.fa-edit.icon__white
          %li.edit-user
            %a{href: ''}
              %i.fa.fa-cog.icon__white
    .left-content-bottom
      /↓他ファイルにする
      .group
        %p.test-group test-group
        %p.test-coment test-coment