.right-content {
  float: left;
  width: calc(100vw - 300px);
  &__top {
    padding: 0 40px;
    height: 100px;
    box-sizing: border-box;
    border-bottom: thin solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box {
      &__group {
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__member {
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__right-box {
      padding-top: 28px;
      a {
        text-decoration: none;
      }
      &__btn {
        color: $color-bule;
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        border: thin solid $color-bule;
      }
    }
  }
  &__main {
    box-sizing: border-box;
    height: calc(100vh - 170px);
    background-color: #fafafa;
    padding: 46px 40px 0 40px;
    &__message {
      &__user-name {
        float: left;
        font-size: 16px;
        font-weight: bold;
        color: $font-black;
      }
      &__day {
        float: left;
        padding-left: 10px;
        font-size: 12px;
        color: #999999;
      }
      &__coment {
        clear: both;
        padding: 10px 0 40px 0;
        font-size: 14px;
        color: $font-black;
      }
  }

  }
  &__bottom {
    padding: 20px 40px;
    background-color: rgb(207, 204, 204);
    .form {
      .new_message {
        width: 100%;
        position: relative;
        display: flex;
        .form__box {
          position :relative; 
          width :100%;
          .form__message {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: $font-black;
            border: none;
            box-sizing: border-box;
          }
          .form__mask__image {
            color: black;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            input {
              display: none;
            }
            }
        }
      }
      .form__submit {
        margin-left: 15px;
        height: 50px;
        width: 100px;
        padding: 0 30px;
        background-color: $color-bule;
        color: white;
        cursor: pointer;
      }
  }
}
}