
@import "font-awesome";
@import "./reset";

.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  .left-content {
    float: left;
    display: inline-block;
    height: 100vh;
    width: 300px;
    &__top {
      padding: 0 20px;
      height: 82px;
      background-color: #253141;
      position: relative;
      &__box {
        width: 260px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &__user-name {
          float: left;
          font-weight: bold;
          font-size: 16px;
          color: #ffffff;
        }
        &__link-box {
          float: right;
          li {
          display: inline-block;
          }
          .icon__white {
            color: #ffffff;
          }
        }
      }
    }
    &__bottom {
      padding: 20px 20px 0 20px;
      height: 100%;
      background-color: #2f3e51;
        &__group {
          color: #ffffff;
          font-weight: bold;
          padding-bottom: 40px;
          &__group-name {
            font-size: 15px;
            padding-bottom: 5px;
          }
          &__coment {
            font-size: 11px;
          }
        }
    }
  }
//↓right content
  .right-content {
    float: left;
    height: 100vh;
    width: calc(100vw - 300px);
    &__top {
      padding: 0 40px;
      height: 82px;
      border-bottom: thin solid #eeeeee;
      &__group {
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
    }
    &__main {
      height: 80%;
      background-color: #fafafa;
    }
    &__bottom {
      height: 20%;
      background-color: rgb(207, 204, 204);
    }
  }
}
