
@import "font-awesome";
@import "./reset";
@import "variables";

.wrapper {
  .make-group {
    text-align: center;
    background-color: $color-bule;
    color: $font-white;
  }
  .left-content {
    float: left;
    display: inline-block;
    width: 300px;
    &__top {
      padding: 0 20px;
      height: 100px;
      background-color: #253141;
      position: relative;
      &__box {
        width: 260px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &__user-name {
          float: left;
          font-weight: bold;
          font-size: 16px;
          color: $font-white;
        }
        &__link-box {
          float: right;
          li {
          display: inline-block;
          }
          .icon__white {
            color: $font-white;
          }
        }
      }
    }
    &__bottom {
      padding: 20px 20px 0 20px;
      height: calc(100vh - 100px);
      background-color: #2f3e51;
        &__group {
          color: $font-white;
          font-weight: bold;
          padding-bottom: 40px;
          &__group-name {
            font-size: 15px;
            padding-bottom: 5px;
          }
          &__coment {
            font-size: 11px;
          }
        }
    }
  }
//↓right content
  .right-content {
    float: left;
    width: calc(100vw - 300px);
    &__top {
      padding: 0 40px;
      height: 100px;
      box-sizing: border-box;
      border-bottom: thin solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__left-box {
        &__group {
          padding-top: 35px;
          font-size: 20px;
          color: #333333;
        }
        &__member {
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__right-box {
        padding-top: 28px;
        a {
          text-decoration: none;
        }
        &__btn {
          color: $color-bule;
          line-height: 40px;
          height: 40px;
          padding: 0 20px;
          border: thin solid $color-bule;
        }
      }
    }
    &__main {
      box-sizing: border-box;
      height: calc(100vh - 170px);
      background-color: #fafafa;
      padding: 46px 40px 0 40px;
      &__user-name {
        float: left;
        font-size: 16px;
        font-weight: bold;
        color: $font-black;
      }
      &__day {
        float: left;
        padding-left: 10px;
        font-size: 12px;
        color: #999999;
      }
      &__coment {
        clear: both;
        padding: 10px 0 40px 0;
        font-size: 14px;
        color: $font-black;
      }

    }
    &__bottom {
      padding: 20px 40px;
      background-color: rgb(207, 204, 204);
      &__textarea {
        display: flex;
        &__left-box {
          width: 100%;
          position: relative;
          &--textarea {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: $font-black;
            border: none;
            box-sizing: border-box;
          }
          &--icon {
            color: black;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            input {
              display: none;
            }
            }
        }
        &__send-btn {
          margin-left: 15px;
          float: left;
          height: 50px;
          width: 100px;
          padding: 0 30px;
          background-color: $color-bule;
          color: white;
          cursor: pointer;
        }
    }
  }
}
}